

body {
  background-color: #c82333;
  color: #495057;
}

.navbar {
  background-color: #007bff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: red
}

.container {
  background-color: red;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #c82333;
}

.container-error-404{
  background-image: url("https://img.lovepik.com/element/40021/7866.png_1200.png");
}